//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Wed 10 04 00:02:56 2023

IO_LOC "led_Y2" 11;
IO_PORT "led_Y2" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led_Y1" 10;
IO_PORT "led_Y1" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "IN_C2[3]" 34;
IO_PORT "IN_C2[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_C2[2]" 33;
IO_PORT "IN_C2[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_C2[1]" 30;
IO_PORT "IN_C2[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_C2[0]" 29;
IO_PORT "IN_C2[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_C1[3]" 28;
IO_PORT "IN_C1[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_C1[2]" 27;
IO_PORT "IN_C1[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_C1[1]" 26;
IO_PORT "IN_C1[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_C1[0]" 25;
IO_PORT "IN_C1[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_2G" 41;
IO_PORT "IN_2G" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_1G" 40;
IO_PORT "IN_1G" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_B" 53;
IO_PORT "IN_B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "IN_A" 42;
IO_PORT "IN_A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
